@import "tailwindcss";


@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    color: #0f172a;
    background-color: #fff;
  }

  body {
    @apply min-h-screen bg-white text-slate-900 antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@theme {
  --color-lightGray: #D4D4D4;
  --color-grayLight: #F9F9FB;
  --color-purple: #715DB4;
}