@import "tailwindcss";


@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    color: #0f172a;
    background-color: #fff;
  }

  body {
    @apply min-h-screen bg-white text-slate-900 antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }
}
